DATABASE_URL="postgresql://postgres:postgres@db:5432/url_shortener"
JWT_SECRET=your-secret-key-here
REDIS_URL="redis://redis:6379"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="url_shortener"
